{% extends 'base.html.twig' %}

{% block title %}Liste des évenements{% endblock %}

{% block body %}

<main role="main">

    <div class="album py-5 bg-light">
        <div class="container">

            <h2>Evénements 2019</h2>

            <div class="row">

                <div class="col-md-2">

                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">2017</a>
                        <a href="#" class="list-group-item list-group-item-action">2018</a>
                        <a href="#" class="list-group-item list-group-item-action active">2019</a>
                    </div>

                </div>


                <div class="col-md-10">
                    <div class="row">

                        <div class="col-md-6">
                            {% for event in events %}
                            {% if event.dateEnd|date('Y') == 2019 %}
                            <div class="card mb-4 shadow-sm">
                                <img src="{{ asset('uploads/' ~ event.picture) }}" alt="{{ event.picture }}">
                                <div class="card-body">
                                    <h3 class="card-text">{{ event.title }}</h3>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ path('event_show', {slug: event.slug})}}" class="btn btn-sm btn-outline-secondary">Voir</a>
                                            <a href="{{ path('event_edit', {slug: event.slug}) }}" class="btn btn-sm btn-outline-secondary">Modifier</a>
                                        </div>
                                        <small class="text-muted">{{ event.city.name }} | {{ event.DateStart|date('d')}}-{{ event.DateEnd|date('d M Y')}}</small>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
