{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}

    <main role="main">

        <div class="py-5 bg-light">

            <div class="container">

                <h1>Mon compte</h1>

                <hr>

                <ul>
                    <li>Pseudo : {{ user.username }}</li>
                    <li>Email : {{ user.email }}</li>
                </ul>

                <a href="{{ path('user_edit', {id: app.user.id}) }}" class="btn btn-primary">Modifier</a>

                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('easyadmin') }}">Admin</a>
                {% endif %}

                <div id="events" class="album py-5">

                    <h2>Mes événements proposés</h2>

                    <div class="row">

                        {% for event in user.events %}
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img src="{{ asset('uploads/' ~ event.picture) }}" alt="{{ event.picture }}">
                                    <div class="card-body">
                                        <h3 class="card-text">{{ event.title }}</h3>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="{{ path('event_show', {slug: event.slug})}}" class="btn btn-sm btn-outline-secondary">Voir</a>
                                                <a href="{{ path('event_edit', {slug: event.slug}) }}" class="btn btn-sm btn-outline-secondary">Modifier</a>
                                            </div>
                                            {% if event.isValid == 0 %}
                                                <small class="text-muted">Event en cours de validation</small>
                                                {% else %}
                                                    <small class="text-muted">{{ event.city }} | {{ event.DateStart|date('d')}} - {{ event.DateEnd|date('d M Y')}}</small>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

                {{ include('user/_delete_form.html.twig') }}

            </div>

        </div>



    </main>



{% endblock %}
