{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ user.username }}</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Pseudo</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn-danger" href="#">Modifier votre compte</a>

        <h3>Vos prochains évenements</h3>
        <ul>
            {% for event in user.events %}
                <li>{{ event.title }}</li>
            {% endfor %}
        </ul>

        {{ include('user/_delete_form.html.twig') }}

    </div>


{% endblock %}
